---
import { getCollection, type CollectionEntry } from "astro:content";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import DotIcon from "@/components/icons/Dot.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"posts">;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<ArticleLayout
  title={`${entry.data.title}`}
  description={entry.data.description}
  image={`/posts/${entry.slug}/og.png`}
>
  <div class="container p-4 sm:max-w-screen-sm mx-auto pt-32 sm:pt-48">
    <h1 class="text-2xl sm:text-3xl font-bold">
      {entry.data.title}
    </h1>

    <p class="text-muted-foreground mb-6">
      {entry.data.date.toLocaleDateString(undefined, { dateStyle: "medium" })}
      <DotIcon class="w-4 h-4 inline" />
      {entry.data.read}
    </p>
    <p class="text-muted-foreground">
      {entry.data.description}
    </p>
    <article class="mt-12 prose dark:prose-invert w-auto">
      <Content />
    </article>
  </div>
</ArticleLayout>
