---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Card from "@/components/ui/card/Card.astro";
import CardHeader from "@/components/ui/card/CardHeader.astro";
import CardTitle from "@/components/ui/card/CardTitle.astro";
import CardDescription from "@/components/ui/card/CardDescription.astro";
import CardContent from "@/components/ui/card/CardContent.astro";
import Badge from "@/components/ui/Badge.astro";
import { cn } from "@/lib/utils";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<div class="space-y-4">
  {
    projects
      .sort((pa, pb) => {
        const a = new Date(pa.data.date);
        const b = new Date(pb.data.date);
        return b.getTime() - a.getTime();
      })
      .map((project) => (
        <a href={`/projects/${project.slug}`} class="block">
          <Card class="flex flex-col-reverse sm:flex-row p-4 gap-3 sm:p-6 sm:gap-6 border-0 shadow-none transition-colors duration-500 hover:bg-secondary/50 dark:hover:bg-secondary/30">
            <div>
              <Image
                src={project.data.img}
                alt={project.data.title}
                width={528}
                height={336}
                loading="lazy"
                class={cn(
                  "w-44 h-28 bg-cover rounded-xl ring-2 ring-secondary",
                )}
              />
            </div>
            <div class="flex-1">
              <CardHeader class="p-0">
                <CardTitle>{project.data.title}</CardTitle>
                <CardDescription>{project.data.description}</CardDescription>
              </CardHeader>
              <CardContent class="p-0 pt-3 sm:pt-6">
                <div class="flex flex-wrap gap-1">
                  {project.data.tags.map((tag) => (
                    <Badge variant="outline" class="bg-background">
                      {tag}
                    </Badge>
                  ))}
                </div>
              </CardContent>
            </div>
          </Card>
        </a>
      ))
  }
</div>
